<section class="new-section" data-hook>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titie-section wow fadeInDown animated ">
          <h1>NEW COLLECTION</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.2s">
        <div class="product-item">
          <%= image_tag '1.png' %>
          <div class="product-hover">
            <div class="product-meta">
              <a href="#"><i class="pe-7s-like"></i></a>
              <a href="#"><i class="pe-7s-shuffle"></i></a>
              <a href="#"><i class="pe-7s-clock"></i></a>
              <a href="#"><i class="pe-7s-cart"></i>Add to Cart</a>
            </div>
          </div>
          <div class="product-title">
            <a href="#">
              <h3>Blue Tshirt</h3>
              <span>$26</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.4s">
        <div class="product-item">
          <%= image_tag '2.png' %>
          <div class="product-hover">
            <div class="product-meta">
              <a href="#"><i class="pe-7s-like"></i></a>
              <a href="#"><i class="pe-7s-shuffle"></i></a>
              <a href="#"><i class="pe-7s-clock"></i></a>
              <a href="#"><i class="pe-7s-cart"></i>Add to Cart</a>
            </div>
          </div>
          <div class="product-title">
            <a href="#">
              <h3>WOMAN shirt</h3>
              <span>$31</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.6s">
        <div class="product-item">
          <%= image_tag '3.png' %>
          <div class="product-hover">
            <div class="product-meta">
              <a href="#"><i class="pe-7s-like"></i></a>
              <a href="#"><i class="pe-7s-shuffle"></i></a>
              <a href="#"><i class="pe-7s-clock"></i></a>
              <a href="#"><i class="pe-7s-cart"></i>Add to Cart</a>
            </div>
          </div>
          <div class="product-title">
            <a href="#">
              <h3>YELLOW Tshirt</h3>
              <span>$21</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.8s">
        <div class="product-item">
          <%= image_tag '4.png' %>
          <div class="product-hover">
            <div class="product-meta">
              <a href="#"><i class="pe-7s-like"></i></a>
              <a href="#"><i class="pe-7s-shuffle"></i></a>
              <a href="#"><i class="pe-7s-clock"></i></a>
              <a href="#"><i class="pe-7s-cart"></i>Add to Cart</a>
            </div>
          </div>
          <div class="product-title">
            <a href="#">
              <h3>Cool lingerie</h3>
              <span>$56</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>